# Android Studio / IntelliJ
.idea/
*.iml
.gradle/
build/
app/build/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab

# Kotlin
.kotlin/
*.class

# OS / Sistem Dosyaları
.DS_Store
Thumbs.db

# Key Store / Signing
*.jks
*.keystore
